<div class="pumpkin-banner lazyloaded">
    <h1>The Annual Ginormous Pumpkin Regatta</h1>
  </div>
  <div style="padding-top: 20px">
    <h2 class="pumpkin-hof">Videos {% render 'icon-pumpkin' %}</h2>
  </div>

  {% capture video_data %}
  | N9gfcfKaY80
  | EOhiLqmOXXQ
  | 2lPPHQiUk4w
  | WPC9Bikf14M
  | jecggoj5O6Y
  | XHVgNGTfAV4
  {% endcapture %}
  {% assign videos = video_data | split: '| ' %}

  <div>
    <div class="row">

      {% for video in videos %}
        {% if forloop.first %}
          {% continue %}
        {% endif %}
        <div class="col-lg-4 col-sm-12 row-spacer">
          <div class="youtube-video">
            <iframe src="https://www.youtube.com/embed/{{ video }}" title="YouTube video player {{ video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  <br>

  <div>
    <h2 class="pumpkin-hof">Pumpkin Regatta Hall of Fame {% render 'icon-pumpkin' %}</h2>
  {% comment %}
  | YEAR, WINNER, PUMPKIN_NAME, PUMPKIN_WEIGHT, IMG_URL
  {% endcomment %}
  {% capture winner_data %}
  | 2019, Luke Zander, Green Machine, 507, https://cdn.shopify.com/s/files/1/2016/2681/files/2019-regatta-winner.jpg?7226
  | 2018, Travis Evans, DJ, 737, https://cdn.shopify.com/s/files/1/2016/2681/files/travis-2018-winner.jpg?12108185267732953101
  | 2017, Jim Seamons, Perdy, 550, https://cdn.shopify.com/s/files/1/2016/2681/files/2017-winner.jpg?16758443727045040082
  | 2016, Robb Baumann aka Hillary Clinton, The SS Pantsuit, 429, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2016.jpg?16758443727045040082
  | 2015, Travis Evans, Rowing Reggie, 872, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2015.jpg?16758443727045040082
  | 2014, Charles Clark, The Good Ship Loose, 444, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2014.jpg?16758443727045040082
  | 2013, Kyle Fox, Baby&quot;s Baby, 943.5, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2013.jpg?16758443727045040082
  | 2012, Ross Bowman, Brigham City Flash, 1103.5, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2012.jpg?16758443727045040082
  | 2011, Andrew Isreal Ison, Dominator, 1182, https://cdn.shopify.com/s/files/1/2016/2681/files/winner-2011.jpg?16758443727045040082
  {% endcapture %}
  {% assign winners = winner_data | split: '| ' %}
    <div class="row">
      {% for winner in winners %}
        {% if forloop.first %}
          {% continue %}
        {% endif %}
        {% assign stats = winner | split: ', ' %}
        {% assign year = stats[0] %}
        {% assign name = stats[1] %}
        {% assign pumpkin = stats[2] %}
        {% assign weight = stats[3] %}
        {% assign img = stats[4] %}

        <div class="col-lg-6 col-sm-12">
          <div class="pumpkin-winner row-spacer">
            <h3 class="winner-title">{{ year }} Winner - {{ name }}</h3>
            <div>
              <span class="pumpkin-stat">Pumpkin Name: {{ pumpkin }}</span>
              <span class="pumpkin-stat">Weight: {{ weight }} lbs</span>
            </div>
            <div class="pumpkin-img">
              {% assign alt = year | append: ' Winner' %}
              {% render 'lazy-img' with src: img, alt: alt, barebones: true, add_class: 'pumpkin-lazy-img'  %}
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>


  {% render 'selective-css' with 'custom-article' %}
  <style>
  .pumpkin-banner {
    background-image: url('https://cdn.shopify.com/s/files/1/2016/2681/files/2014-regatta-slider-logo-sm.jpg?14191911765970649679');
    background-size: cover;
    text-align: center;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pumpkin-banner h1 {
    background-color: #00000044;
  }

  .pumpkin-lazy-img {
    width: 100%;
    height: auto;
  }

  .pumpkin-winner {
    border: 1px solid black;
    border-radius: 10px;
  }

  .pumpkin-hof {
    text-align: center;
  }

  .winner-title {
    text-align: center;
  }

  .pumpkin-stat {
    padding-left: 10px;
    padding-right: 50px;
  }

  .pumpkin-img {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  </style>